### VisualStudioCode template
.vscode/
.idea/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### yarn template
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/

# and uncomment the following lines
# .pnp.*

### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
build/
npm-debug.log
yarn-error.log

