// Tabs

.tabs {
	ul {
		border-bottom: 1px solid transparent;

		li {
			font-size: 0.875rem;

			// &:first-child {
			// a {
			// 	margin-left: 0;
			// }
			// }

			a {
				// color: $primary;
				color: hsla(208, 14%, 58%, 1);
				// border-bottom: transparent 2px solid !important;
				border-bottom: none;
				padding: 0.25rem 0;
				margin: 0 0.75rem;
			}

			&.is-active {
				background-color: hsla(0, 0%, 100%, 1);
				border-radius: 4px;
				height: 1.75rem;

				a {
					color: hsla(208, 3%, 19%, 1);
					// border-bottom: $primary 2px solid !important;
					border-bottom: none;
				}
			}

			&.is-disabled {
				a {
					color: hsla(208, 11%, 78%, 1);
				}
			}
		}
	}
}

.b-tabs .tab-content {
	position: relative;
	overflow: visible;
	display: flex;
	flex-direction: column;
	padding: 1rem 0 0 0;
}
